<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= Content %></p>

<% posts.forEach(function(abc){ %>
<h3><b> <%= abc.title %> </b></h3>
<p>
  <%=abc.content.substring(0,100) + "..." %>
  <a href="/posts/<%=abc.title%>">Read more</a>
</p>
<% });%>


<%- include("partials/footer") -%>
